<div id="footer">
    <img src="./images/rounded.png" alt="" class="logo">

    <div class="wrapper">
            <a id="sign-in" href="/adm-login">Administrator? Logg inn her</a>
    </div>
</div>

<link rel="stylesheet" href="./stylesheets/modules/footer.css">