<link rel="stylesheet" href="./stylesheets/modules/header.css">

<div id="template-header">
    <div class="left">
        <img title="Gå tilbake" onclick="window.location='/'" src="./images/favicon.jpg" alt="HMKG KP3" class="logo">

    </div>

    <div class="right">
        
    </div>
</div>