<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>3. Gardekompani | Hjem</title>
  <link rel="shortcut icon" href="./images/rounded.png" type="image/x-icon">
  <link rel="stylesheet" href="./stylesheets/style.css">
  <link rel="stylesheet" href="./stylesheets/loaders.css">
  <link rel="stylesheet" href="./stylesheets/core.css">
</head>
<body>
  <div id="nav-bar">
    <div class="left">
      <img src="./images/favicon.jpg" alt="HMKG KP 3" class="logo" onclick="imageClicker()">
    </div>
    <div class="right">
      <button class="about" onclick="fadeToSubPage('om-oss')">Om oss</button>
      <button onclick="fadeToSubPage('soek')" class="apply">Søk musikk og drill</button>
    </div>
  </div>
  <div class="top-part">
    
    <div class="page-title">
      <span class="title">3. Gardekompani</span>
      <span class="sub">Hans majestet kongens garde</span>
    </div>

    <div class="jumbotron"></div>
    <div class="jumbotron b"></div>

    <div class="scroll-down" onclick="scrollPage()">
      <span>Bla ned</span>
      <ion-icon name="arrow-down-outline"></ion-icon>
    </div>

  </div>


  <div class="content">
    <div class="links">
      <div class="wrapper">
        <div class="pill" onclick="showInstagram(this)"><ion-icon name="logo-instagram"></ion-icon>Instagram</div>
        <div class="pill" onclick="fadeToSubPage('/forum')"><ion-icon name="help-circle-outline"></ion-icon>Spørsmål</div>
        <div class="pill" onclick="showCalendar(this)"><ion-icon name="list-outline"></ion-icon>Terminliste</div>
        <div class="pill"><ion-icon name="document-outline"></ion-icon>Innstuderingsnoter</div>
        <div class="pill" onclick="fadeToSubPage('/kontakt')"><ion-icon name="chatbubbles-outline"></ion-icon>Kontakt oss</div>
        <div onclick="fadeToSubPage('soek')" class="pill apply"><ion-icon name="checkmark-outline"></ion-icon>Søk musikk og drill</div>
      </div>
    </div>

    <div class="guardwords">
      <span>Tjenesten fortalt med gardistenes egne ord</span>
      <div class="line"></div>
    </div>

    <div class="articles">

    </div>

  </div>

  <%- include('./modules/footer'); %>

  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="./javascripts/main.js"></script>
  <%- include('./modules/components.ejs'); %>
</body>
</html>