#footer {
    height: 10rem;
    background: #344D6C;
    margin-top: 10rem;
    position: relative;
}

#footer img{
    height: 50%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%,-50%);
}

#footer .wrapper #sign-in {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%);
    text-decoration: none;
    color: white;
}

#footer .wrapper #sign-in:hover {
    text-decoration: underline;
}
